/*COLOR VARIABLES*/

:root {
  --yellow: #FFEB18;
  --blue: #1600FF;
  --pink: #FF2FC6;
  --green: #15BA83;
  --white: #FFFFFF;
  --light-grey: #f1f1f1;
  --dark-grey: #DEDEDE;
}

/*CONTAINERS & LAYOUTS*/

.overlay-container {
  position: absolute;
  width: 70%;
  height: 101%;
  background-color: var(--white);
  z-index: 1;
  top: 148%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 80%;
  height: 80%;
  max-width: 1440px;
  position: relative;
}

.click-zone {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3%;
  cursor: pointer;
  z-index: 2;
}

.content {
  display: none;
  width: 80%;
  height: 100%;
}

.cross-close {
  cursor: pointer;
}

.cross-close img {
  max-height: 10px;
}

.header-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.ui-items-wrapper {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  margin-top: 6%;
  width: 80%;
  height: 5%;
}

.next-arrow {
  display: inline-flex;
  cursor: pointer;
}

.next-arrow:hover p {
  font-style: italic;
}

.next-arrow > p {
  margin-right: 8px;
}

.content > h1 {
  margin-top: 14%;
}

.cta-info {
  text-align: right;
}

.cta-info > ul {
  margin-top: 26px;
}

.cta-info > ul > li {
  max-width: 200px;
  border: solid 2px var(--blue);
  margin-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--blue);
  text-align: center;
  background-color: var(--white);
}

.cta-info > ul > li:hover {
  background-color: var(--blue);
  color: var(--white);
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

.bottom-border {
  color: var(--blue);
}

.bottom-border::after {
  display: block;
  content: '';
  height: 2px;
  background-color: var(--blue);;
  width: 100%;
}

.show {
  display: block;
}

.logo {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  text-align: right;
  width: 80%;
  max-width: 1440px;
  margin-bottom: 12px;
}

canvas {
  display: block;
}

#pixi-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;

  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  opacity: 0;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  overflow: auto;
  max-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.header > h1 {
  margin-bottom: 0;
}

.marker {
  font-family: 'Work Sans', sans-serif;
  padding-left: 0;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--blue);
}

/*BREAKPOINTS*/
@media (max-width: 920px) {
    .header-section {
      flex-direction: column-reverse;
    }
    .header h1 {
      margin-top: 0;
    }
    .layout-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    canvas {
      width: 100%;
    }
    .cross-close {
      right: 5%;
    }
    .content-wrapper {
      width: 100%;
    }
    .ui-items-wrapper {
      width: 86%;
    }
    .content {
      width: 86%;
    }
    #pixi-container {
      width: 100%;
    }
    .overlay-container {
      width: 90%;
    }
    .logo {
      width: 100%;
    }
}

/*CUSTOM SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-grey); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grey); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

/*ANIMATIONS*/
.swipe-up-animation {
  animation: swipe-up-animation 1000ms ease-out 1;
  animation-fill-mode: forwards;
}

.swipe-down-animation {
  animation: swipe-down-animation 1000ms ease-in 1;
  animation-fill-mode: forwards;
}

.text-appear {
  animation: text-appear 1000ms ease 1;
  animation-fill-mode: forwards;
}

.text-disappear {
  animation: text-disappear 1000ms ease 1;
  animation-fill-mode: forwards;
}

@keyframes swipe-up-animation {
  0% {
    top: 146%
  }
  80% {
    top: 50%;
  }
  100% {
    top: 50%
  }
}

@keyframes swipe-down-animation {
  0% {
    top: 50%
  }
  80% {
    top: 146%;
  }
  100% {
    top: 146%
  }
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-disappear {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}