canvas {
  display:block;
}

#pixi-container {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  padding: 0;

  /*Centering canvas*/
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.center-container {
  width: 100%;
  height: 100%;
  text-align: center;
}